[Unit]
Description=Docker - Atlassian Jira container
Requires=docker-atlassian-jira-postgres.service
After=docker-atlassian-jira-postgres.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a atlassian-jira
ExecStop=/usr/bin/docker stop -t 2 atlassian-jira

[Install]
WantedBy=default.target
