[Unit]
Description=Docker - Postgres - Atlassian Jira container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a atlassian-jira-postgres
ExecStop=/usr/bin/docker stop -t 2 atlassian-jira-postgres

[Install]
WantedBy=default.target
